/* Login.css */
.login-container {
    min-height: 100vh;
  }
  
  .login-card {
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
    background-color: #ffffff;
  }
  

  /* Register.css */
.register-container {
  min-height: 100vh;
}

.register-card {
  max-width: 400px;
  width: 100%;
  border-radius: 1rem;
  background-color: #ffffff;
}
